# This file designates code ownership for this repository
# Each line represents a rule for file ownership
# See: https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

# These owners will be the default owners for everything in the repo
* @yuval333688